@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  /* height: 100%; */
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  min-height: 100vh;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* No fill when hover chart in dashboard */
.recharts-tooltip-cursor {
  fill: transparent;
}

/* Color for Stepper - Show invoice details */
.css-oxf95d-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.css-1uizxs6-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.css-9h48zc-MuiStepLabel-label.Mui-completed,
.css-2lgwlz-MuiStepLabel-label.Mui-completed {
  color: #008B8B !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
.css-oxf95d-MuiSvgIcon-root-MuiStepIcon-root,
.css-1uizxs6-MuiSvgIcon-root-MuiStepIcon-root,
.css-2lgwlz-MuiStepLabel-label,
.css-9h48zc-MuiStepLabel-label,
.css-oxf95d-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1uizxs6-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-2lgwlz-MuiStepLabel-label.Mui-active,
.css-9h48zc-MuiStepLabel-label.Mui-active {
  color: #A9A9A9 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}