@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  font-family: "Source Sance Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* No fill when hover chart in dashboard */
.recharts-tooltip-cursor {
  fill: transparent;
}

/* Color for Stepper - Show invoice details */
.css-oxf95d-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.css-1uizxs6-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed,
.css-9h48zc-MuiStepLabel-label.Mui-completed,
.css-2lgwlz-MuiStepLabel-label.Mui-completed {
  color: #008B8B !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.css-oxf95d-MuiSvgIcon-root-MuiStepIcon-root,
.css-1uizxs6-MuiSvgIcon-root-MuiStepIcon-root,
.css-2lgwlz-MuiStepLabel-label,
.css-9h48zc-MuiStepLabel-label,
.css-oxf95d-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1uizxs6-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-2lgwlz-MuiStepLabel-label.Mui-active,
.css-9h48zc-MuiStepLabel-label.Mui-active {
  color: #A9A9A9 !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

svg:focus,
g:focus,
path:focus {
  outline: none !important;
}

.recharts-pie .recharts-text.recharts-label {
  stroke: unset !important;
  fill: white !important;
}

.recharts-pie .recharts-text.recharts-pie-label-text > tspan{
  font-size: 1.2rem !important;
}

.product-card .detail{
  transform: translate(0px, 0px)!important;
  width: 100%;
  width: 150%;
}

.react-datepicker__input-container > input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  outline: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.react-datepicker__current-month {
  color: #008B8B !important;
  padding: 5px;
}

.react-datepicker__month-select, .react-datepicker__year-select {
  padding: 5px;
}